<div *ngIf= "(myonline | async) as myonlinestatus; else myonlinenotworking">
  Online Status: {{myonlinestatus}}
<div *ngIf= "(myauth | async) as myauthentication; else waitingforAuth">
 <!---- <pre>
    {{myauthentication | json}}
  </pre> -->

  <button mat-raised-button color="warn" (click)="componentLogOff()"> logout</button>
  <div *ngIf="myauthentication === undefined">
    Undefined
    <pre>
         {{myauthentication | json}}
       </pre>
    </div>
    
    <div *ngIf="myauthentication === null">
    Loggedout
    <pre>
         {{myauthentication | json}}
       </pre>
    </div>
    
    <div *ngIf="myauthentication">
    Loggedin
    <pre>
         {{myauthentication | json}}
       </pre>
    </div>
</div>
</div>

<ng-template #waitingforAuth>

Waiting for Authentication

</ng-template>


<ng-template #myonlinenotworking>
  <mat-spinner ></mat-spinner>
  NOT WORKING CHECK INTERNET
  </ng-template>



