

<div *ngIf= "(myauthonline | async) as onlineAndAuthReady; else onlineAndAuthNotReady">
  <div *ngIf="(myauth  | async) as AuthReady; else AuthNotReady">

    Online is true
    <button mat-raised-button color="warn" (click)="developmentservice.logout()"> logout</button>
  </div>
<div *ngIf="onlineAndAuthReady === true">

</div>

</div>

<ng-template #onlineAndAuthNotReady>

  Check internet connection
  <div fxLayout="row" fxLayoutAlign="center center" style="height:100vh;">
    <mat-spinner ></mat-spinner>
  </div>

  </ng-template>
  <ng-template #AuthNotReady>
    <div fxLayout="row" fxLayoutAlign="center center" style="height:100vh;">
    <mat-spinner ></mat-spinner>
  </div>
    </ng-template>
